<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Face Verify</title>
  <link rel='shortcut icon' href='./favicon.ico' type='image/x-icon' />

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/scrolling-nav.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

</head>

<body id="page-top">

   <!-- Navigation -->
   <nav class="navbar navbar-expand-lg navbar-dark bg-light fixed-top" id="mainNav">
        <div class="container">
          <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="./logo.png" class="logo"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="../">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="../#attendance">Attendance</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="../#register">Register</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>

  <section id="register">
      <div class="container">
        <h2 class="text-center pb-5 text-success">Registration successful</h2>

        <div class="row text-muted">
          
            <div class="col-md-12 col-lg-4">
                <div class="row">
                    <div class="col-xs-12 col-lg-12 d-flex justify-content-center">
                        <img src="<%=imgpath %>"  class="regimg"/>
                    </div>
                    <div class="col -xs-12 col-lg-12 text-center">
                        <div class="form-group addrs"><br/>
                            <label for="comment"><b>Address :</b></label><br/>
                            <p><%=addr %></p>
                        </div>   
                    </div>
                </div>
            </div>

            <div class="container col-md-12 col-lg-8 d-flex justify-content-center">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg4 ">
                        <div class="form-group">
                        <label for="uname"><b>First Name : </b></label>
                        </div>
                        <div class="form-group">
                            <label for="sname"><b>Second Name : </b></label>
                        </div>
                        <div class="form-group">
                            <label for="email"><b>Email : </b></label>
                        </div>
                        <div class="form-group">
                            <label for="sname" class="mr-3"><b>Gender : </b></label>
                        </div>
                        <div class="form-group">
                            <label for="sel1"><b>Course : </b></label>
                        </div>
                        <div class="form-group">
                            <label for="phno"><b>Phone no : </b></label>
                        </div>
                        <div class="form-group">
                            <label for="place"><b>Place : </b></label>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg4">
                        <div class="form-group">
                        <label for="uname"><b><%=uname %></b></label>
                        </div>
                        <div class="form-group">
                            <label for="sname"><b><%=sname %></b></label>
                        </div>
                        <div class="form-group">
                            <label for="email"><b><%=uemail %></b></label>
                        </div>
                        <div class="form-group">
                            <label for="sname" class="mr-3"><b><%=gender %></b></label>
                        </div>
                        <div class="form-group">
                            <label for="sel1"><b><%=ucourses %></b></label>
                        </div>
                        <div class="form-group">
                            <label for="phno"><b><%=uphno %></b></label>
                        </div>
                        <div class="form-group">
                            <label for="place"><b><%=place %></b></label>
                        </div>
                    </div>
                </div>
            </div>
                
          </div><br/>
          <div class="d-flex justify-content-center"> 
                <a  class="btn btn-primary" href="../">Home</a>
          </div>
      </div>
  </section>


  
  <!-- Footer -->
  <footer class="py-2 bg-info">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/bootstrap.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="js/jquery.easing.min.js"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="js/scrolling-nav.js"></script>
  <script src="js/main.js"></script>

</body>

</html>
