<div class="col-md-12 col-lg-5 mx-auto text-center">
    <img src="<%=imgpath %>" alt=" " class="preimg" /> <br/><br>
    <h6 class="text-light"><%=addr %></h6>
</div>

<div class="col-md-12 col-lg-7 backbtn mx-auto text-center">
    <table class="table table-borderless text-light">
        <tbody>
            <tr>
            <td><b>First Name</b></td>
            <td><%=uname %></td>
            </tr>
            <tr>
            <td><b>Second Name</b></td>
            <td><%=sname %></td>
            </tr>
            <tr>
            <td><b>Email</b></td>
            <td><%=uemail %></td>
            </tr>
            <tr>
            <td><b>Gender</b></td>
            <td><%=gender %></td>
            </tr>
            <tr>
            <td><b>Course</b></td>
            <td><%=ucourses %></td>
            </tr>
            <tr>
            <td><b>Phno</b></td>
            <td><%=uphno %></td>
            </tr>
            <tr>
            <td><b>Place</b></td>
            <td><%=place %></td>
            </tr>
        </tbody>
    </table>
    <a href="../#attendance" class="btn btn-warning">Back</a>
</div>
